<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>CRUD - Tópicos II</title>
    </head>

    <body>
        <h2>RegistrarTeste</2>
        <form action="/show" method="POST">
            <input type="text" placeholder="Nome" name="name">
            <input type="text" placeholder="Sobrenome" name="surname">
            <input type="file" placeholder="Selecionar Arquivo" name="file">
            <button type="submit">Enviar</button>
        </form>
    </body>
</html>
